* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: scroll;
}

.container {
    margin: auto;
    width: 1000px;
    display: grid;
    padding: 10px;
    background-color:aliceblue;
    position: relative;
    grid-template-areas: 'header header header header header header header header header header header header'
                    'aside aside aside aside aside aside section section section section section section '     
                    'image1 image1 image1 image1 image2 image2 image2 image2 image3 image3 image3 image3'
                    'price1 price1 price1 price1 price2 price2 price2 price2 price3 price3 price3 price3'
                'footer footer footer footer footer footer footer footer footer footer footer footer';

}

header {
    grid-area: header;
    height: 100px;
    text-align: center;
    background-color:white;
}

.logo_btn1 {
    font-size: 25px;
    height: 40px;
    margin-top: 30px;
    background-color: aliceblue;
    border: 1;
}

.aside{
    grid-area: aside;
    background-color: orange;
    height: 400px;
    width: 100%;
    margin-top: 30px;

}
.aside_file{
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30%;
    position: absolute;
    color: white;
}
.new_season{
    font-size: 70px;
    width: 40px;
}
.new_btn{
    font-size: 20px;
    color: white;
    padding: 15px;
    height: 50px;
    width: 230px;
    background-color: black;
}
.section{
    
    grid-area: section;
    height: 400px; 
    margin-top: 30px;
}
.section_image{
    height: 400px;
    width: 100%;
   }
.image1{
    /* background-color: rgb(12, 233, 196); */
    grid-area: image1;
    height: 400px;
    margin: 10px;
}
.image2{
    grid-area : image2;
    /* background-color: blueviolet; */
    height: 400px;
    margin: 10px;
}
.image3{
    grid-area: image3;
    /* background-color: brown; */
    height: 400px;
    margin: 10px;
}
.image{
    height: 400px;
    width: 100%;
}
.price1{
    grid-area: price1;
    height: 200px;
    margin: 10px;
    text-align: center;
}
.price2{
    grid-area: price2;
    margin: 10px;
    height: 200px;
    text-align: center;
}
.price3{
    grid-area: price3;
    margin: 10px;
    height: 200px;
    text-align: center;
}
.price_details{

    margin-top: 20px;
}
.dollar_text{

    margin-top: 20px;
    text-align: center;
}
.product_buy{

    font-size: 16px;
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 10px;
}

footer{
    grid-area: footer;
    background-color: antiquewhite;
    height: 180px;
    text-align: center;
}
.footer_text{
    margin-top: 10px;
}
.footer_p{
    font-size: 18px;
}
.footer_btn{
    font-size: 18px;
    background-color: orange;
    width: 150px;
    height: 40px;
    margin-top: 5px;
}
.footer_p_tag{
    font-size: 14px;
    margin-top: 10px;
}