* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: scroll;
}

.container {
    margin: auto;
    width: 1000px;
    display: grid;
    padding: 10px;
    background-color: rgb(200, 207, 205);
    grid-template-areas: 'header header header header header header header header header header header header'
        'stylepart stylepart stylepart stylepart stylepart stylepart stylepart stylepart stylepart stylepart stylepart stylepart'
        'discountpart discountpart discountpart discountpart discountpart discountpart discountpart discountpart discountpart discountpart discountpart discountpart'
        'image image image image image image newstyle newstyle newstyle newstyle newstyle newstyle'
        'footer footer footer footer footer footer footer footer footer footer footer footer';

}

header {
    background-color: white;
    grid-area: header;
    height: 100px;
    text-align: center;
}

.logo_btn {
    font-size: 25px;
    height: 40px;
    margin-top: 30px;
    background-color: aliceblue;
}

.stylepart {
    background-color: antiquewhite;
    grid-area: stylepart;
    height: 300px;
    margin-top: 20px;
    text-align: center;
    background-image: url(image/style_pic1.jpg);
    background-position: center;
    background-size: cover;
}

.style_text {
    font-size: 65px;
    margin-top: 10%;
    color: white;
}

.discountpart {
    background-color: white;
    grid-area: discountpart;
    height: 300px;
    text-align: center;
}

.discount_head_text {
    text-align: center;
    margin-top: 40px;
}

.discount_offer {
    font-size: 40px;
}

.discount_text {
    font-size: 25px;
}

.shop_now {
    margin-top: 20px;
    font-size: 30px;
    background-color: orange;
}

.image {
    grid-area: image;
    height: 600px;
    width: 100%;

}

.newstyle {
    background-color: rgb(254, 88, 28);
    grid-area: newstyle;
    height: 600px;
    
    text-align: center;
    
}

.newstyle_head {
    font-size: 30px;
    color: white;
    margin-top: 50%;

}

.newstyle_body {
    font-size: 20px;
    color: white;
    text-align: center;

}

.buy_now {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}



footer {
    background-color: whitesmoke;
    grid-area: footer;
    height: 150px;
    text-align: center;


}
.footer_h{
    font-size: 30px;
    color: black;
    margin-top: 20px;

}
.icon{
    font-size: 50px;
    color: orange;
}
.footer_text{
font-size: 16px;
}
/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex use web site</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <button class="header_btn"><B>YOUR LOGO</B></button>
        </header>
        <article class="art_text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi commodi nulla necessitatibus, impedit cum ducimus tenetur. Dolor ipsa voluptas deleniti enim? Dignissimos quis tenetur sit ea nulla, quo iusto soluta!
            </p>
        </article>
        <aside class="aside1">
            <h1>aside1</h1>
        </aside>
        <aside class="aside2">
            <h1>aside2</h1>
        </aside>
        <section class="section1">
            <div>section1</div>
        </section>
        <section class="section2">
            <div>section1</div>
        </section>
        <section class="section3">
            <div>section1</div>
        </section>
        <footer class="footer_part">
            <h1>Footer</h1>
        </footer>
    </div>
    
</body>
</html> */

/* header{
    background-color: rgb(248, 246, 246);
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    }
    .header_btn{
        font-size: 20px;
        padding: 10px;
    }
    article{
        background-color: rgb(107, 188, 98);
        text-align: left;
        height: 100px;
    
    
    }
    .aside1{
        background-color: aquamarine;
        height: 250px;
    }
    .aside2{
        background-color: rgb(188, 159, 204);
        height: 250px;
    }
    .section1{
        background-color: rgb(251, 251, 17);
        height: 200px;
    }
    .section2{
        background-color: rgb(5, 151, 102);
        height: 200px;
    }
    .section3{
        background-color: rgb(211, 13, 59);
        height: 200px;
    }
    footer{
        background-color: rgb(199, 199, 199);
        height: 150px;
    } */