* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: scroll;
}

.container {
    margin: auto;
    width: 1000px;
    display: grid;
    padding: 10px;
    background-color: rgb(200, 207, 205);
    grid-template-areas: 'header header header header header header header header header header header header'
        'image image image image image image newstyle newstyle newstyle newstyle newstyle newstyle'
        'image1 image1 image1 image1 image1 image1 newstyle1 newstyle1 newstyle1 newstyle1 newstyle1 newstyle1'
        'image2 image2 image2 image2 image2 image2 newstyle2 newstyle2 newstyle2 newstyle2 newstyle2 newstyle2'
        'footer footer footer footer footer footer footer footer footer footer footer footer';

}
header {
    background-color: white;
    grid-area: header;
    height: 100px;
    text-align: center;
}

.logo_btn {
    font-size: 25px;
    height: 40px;
    margin-top: 30px;
    background-color: aliceblue;
}
.image {
    grid-area: image;
    height: 600px;
    width: 100%;

}

.newstyle {
    background-color: rgb(254, 88, 28);
    grid-area: newstyle;
    height: 600px;
    text-align: center;
    
}

.newstyle_head {
    font-size: 30px;
    color: white;
    margin-top: 50%;

}

.newstyle_body {
    font-size: 20px;
    color: white;
    text-align: center;

}

.buy_now {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}
.image1 {
    grid-area: image1;
    height: 600px;
    width: 100%;

}

.newstyle1 {
    background-color: rgb(254, 88, 28);
    grid-area: newstyle;
    height: 600px;
    text-align: center;
    
}

.newstyle_head {
    font-size: 30px;
    color: white;
    margin-top: 50%;

}

.newstyle_body {
    font-size: 20px;
    color: white;
    text-align: center;

}

.buy_now {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}
.image2 {
    grid-area: image1;
    height: 600px;
    width: 100%;

}

.newstyle2 {
    background-color: rgb(254, 88, 28);
    grid-area: newstyle;
    height: 600px;
    text-align: center;
    
}

.newstyle_head {
    font-size: 30px;
    color: white;
    margin-top: 50%;

}

.newstyle_body {
    font-size: 20px;
    color: white;
    text-align: center;

}

.buy_now {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

footer {
    background-color: whitesmoke;
    grid-area: footer;
    height: 150px;
    text-align: center;


}
.footer_h{
    font-size: 30px;
    color: black;
    margin-top: 20px;

}
.icon{
    font-size: 50px;
    color: orange;
}
.footer_text{
font-size: 16px;
}